<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.reliable.base.receivemsg.dao.ReceiveMsgDao">

    <update id="saveReveiveMsgInfo" parameterType="com.neusoft.reliable.base.prehandle.entity.ReliableEntity">
        update
            dis_reliable
        set
            order_info = #{orderInfo},
            integral_status = #{integralStatus},
            editor = #{editor},
            edit_time = #{editTime}
        WHERE
            order_id = #{orderId}
    </update>
</mapper>